---
import { formatDate } from "@/helpers/date";

interface Props {
  title: string;
  description: string;
  date: Date;
  readingTime: string;
  tags?: string[];
}

const { tags, title, description, date, readingTime } = Astro.props;
---

<section class="hero">
  <div class="back">
    <a href="/blog"><span>~</span> Blog</a>
  </div>
  <h1 class="title">{title}</h1>
  <p class="desc">{description}</p>
  <p class="info">{formatDate(date)} <span>•</span> {readingTime}</p>
  {
    tags && (
      <div class="tags">
        {tags.map((tag) => (
          <a href={`/blog/tags/${tag}`}>#{tag}</a>
        ))}
      </div>
    )
  }
</section>

<style>
  .hero {
    padding: 180px 0 60px;

    & .back {
      margin-bottom: 24px;

      & a {
        color: var(--color-foreground-subtle);
        font-weight: 500;
        font-size: var(--font-xsm);
        text-decoration: none;

        & span {
          color: var(--color-foreground-subtler);
        }
      }
    }

    & .title {
      font-weight: 500;
      margin-bottom: 4px;
    }

    & .desc {
      color: var(--color-foreground-subtle);
      margin-bottom: 4px;
    }

    & .info {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtler);
      font-variant-numeric: tabular-nums;

      & span {
        color: var(--color-foreground-subtler);
        display: inline-block;
        opacity: 0.6;
        margin: 0 4px;
      }
    }

    & .tags {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
      row-gap: 8px;

      & a {
        color: var(--color-foreground-subtle);
        font-size: var(--font-sm);
        font-family: var(--font-mono);
        text-decoration: none;
      }
    }
  }
</style>
